.header {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.header__title {
    font-size: 2rem;
    font-weight: 700;
}

.droppable-area {
    min-height: 50vh;
}

.drag-enter {
    border: 1px dashed #ccc;
}